name: CI

on:
  push:
    branches: [master]
    tags: ['v*']
  pull_request:
    branches: [master]

permissions:
  contents: write

jobs:
  luacheck:
    name: Luacheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install LuaRocks
        run: sudo apt-get install -y luarocks
      - name: Install Luacheck
        run: luarocks install --local luacheck
      - name: Run Luacheck
        run: ${HOME}/.luarocks/bin/luacheck .

  release:
    name: Release
    runs-on: ubuntu-latest
    needs: luacheck
    if: startsWith(github.ref, 'refs/tags/v')
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: BigWigsMods/packager@v2
        with:
          args: '-g bcc'
        env:
          CF_API_KEY: ${{ secrets.CF_API_KEY }}
          GITHUB_OAUTH: ${{ secrets.GITHUB_TOKEN }}
